@font-face {
  font-family: Lausanne;
  src: url(/assets/Lausanne-Regular.woff);
}

body {
  background-color: #f7f7f7;
  /* background-color: white; */
  margin: 0;
  font-family: Lausanne, sans-serif;
}

p {
  margin: 0;
  padding: 0;
  letter-spacing: 0.3px;
}

a {
  text-decoration: none;
}

/* nav */
nav {
  position: fixed;
  top: 0;
  right: -210px;
  transform: rotate(90deg) translateX(50%);
  display: flex;
  flex-direction: row;
  margin-top: 17px;
  color: white;
  mix-blend-mode: difference;
  transition: transform 0.3s ease-out;
  font-size: 14px;
}

nav a {
  color: white;
}

nav div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.expanded {
  height: 50vh;
}

.retracted {
  height: 24px;
  opacity: 0;
}

/* .nav-trans {
  transform: rotate(90deg) translateX(100%);
  margin-top: 12px;
}

.nav-orig {
  transform: rotate(90deg) translateX(50%);
} */

/* TOP BAR */
.top-bar {
  background-color: #4325f7;
  color: white;
  transition: height 0.3s ease-out;
  position: fixed;
  top: 0;
}

#the-box {
  transition: height 0.3s ease-out;
}

.magic-box {
  width: 24px;
  height: 24px;
  background-color: #f85825;
  position: absolute;
  top: 0;
  right: 0;
}

/* BIO */

.bar-content {
  /* display: flex;
  flex-direction: row; */
  display: grid;
  grid-template-columns: 65% 35%;
  grid-gap: 32px;
}

.name {
  margin-top: 2px;
  font-size: 14px;
}

.lg-text {
  font-size: 40px;
  padding-right: 48px;
  padding-top: 6px;
}

.list p {
  padding: 3px 3px 0px 0px;
  font-size: 14px;
}

.col {
  margin-bottom: 32px;
}

.title {
  margin-bottom: 4px;
}

.row {
  display: grid;
  grid-template-columns: 20% 50% 30%;
}

.roww {
  display: grid;
  grid-template-columns: 35% 65%;
}

/* HOMEPAGE */
section.projects {
  display: grid;
  grid-template-columns: 65% 35%;
  grid-gap: 20px; /* optional gap between columns */
  margin-top: 24px;
}

section.projects .project-names-list {
  display: flex;
  flex-direction: column;
  position: fixed;
  /* top: 24px; */
  left: 67%;
  transition: transform 0.3s ease-out;
}

.project-names-list p,
.project-images-list p {
  font-size: 14px;
  letter-spacing: 0.2px;
}

.project-images-list {
  margin-top: 24px;
  z-index: -1;
  transition: transform 0.3s ease-out;
}

.project-image {
  margin-bottom: 48px;
}

.project-image img {
  width: 100%;
  /* height: 400px; */
  height: auto;
}

.project-image p {
  color: white;
  mix-blend-mode: difference;
}

.project-images-list p {
  color: white;
  mix-blend-mode: difference;
}

.projects p {
  /* color: white; */
  /* color: #f85825; */
  color: #4325f7;
  mix-blend-mode: difference;
}

.project-names-list {
  /* color: white; */
  mix-blend-mode: difference;
}

.project-names-list p {
  color: white;
  mix-blend-mode: difference;
}
.project-names-list a {
  font-size: 40px;
  color: white;
  mix-blend-mode: difference;
  width: fit-content;
}

.project-names-list a:hover {
  color: #f85825;
  /* color: #069fd2; */
  mix-blend-mode: normal;
}

/* CANVAS */

canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -2;
  background-color: white;
}

.highlighted {
  color: #f85825 !important;
}
